<% @global_navbar = true %>
<% @secondary_navbar = true %>
<% @back_button = true %>
<% @edit_profile = true %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.email_field :email, :value => current_user.email, :placeholder => "Email" %></div>

  <div><%= f.text_field :name, :value => current_user.name, :placeholder => "Name" %></div>

  <div><%= f.text_field :username, :value => current_user.username, :placeholder => "Username" %></div>

  <div><%= f.text_field :fb_profile, :value => current_user.fb_profile, :placeholder => "Facebook Profile" %></div>

  <div><%= f.text_field :twitter_profile, :value => current_user.twitter_profile, :placeholder => "Twitter Profile" %></div>

  <div><%= f.text_area :bio, :value => current_user.bio, :placeholder => "Tell us a bit about yourself..." %></div>

  <div><div class="heading">If you want to change your password, enter a new password and confirm it.</div>
  <%= f.password_field :password, :autocomplete => "off", :placeholder => "New password" %></div>

  <div><%= f.password_field :password_confirmation, :placeholder => "Confirm new password" %></div>

  <div><div class="heading">Type in your current password to save the changes.</div><%= f.password_field :current_password, :placeholder => "Current password" %></div>

  <div><%= link_to_function "Update account", "document.getElementById('edit_user').submit();", :class => "button-block green" %></div>
<% end %>
<p><%= link_to "Cancel my account", registration_path(resource_name), {:data => { :confirm => "Are you sure?"}, :method => :delete, :class => "button-block grey"} %></p>

