<div class="publicProfile">
  <% if @user.name? %>
    <div class="name">
      Name: <%= @user.name %>
    </div>
  <% end %>
  <% if @user.username? %>
    <div class="userName">
      Username: <%= @user.username %>
    </div>
  <% end %>
  <% if @user.fb_profile? %>
    <div class="fbProfileLink">
      Facebook Profile: <%= link_to "Facebook Profile", @user.fb_profile %>
    </div>
  <% end %>
  <% if @user.twitter_profile? %>
    <div class="twitterProfileLink">
      Twitter Profile: <%= link_to "Twitter Profile", @user.twitter_profile %>
    </div>
  <% end %>
  <% if @user.bio? %>
    <div class="bi">
      Bio: <%= @user.bio %>
    </div>
  <% end %>
  <% if (@user == current_user) %>
    <%= link_to "Edit Profile", edit_user_registration_path %>
    <%#= link_to 'Sign Out1', destroy_user_session_path, :method => 'delete' %>
    <%= link_to "Logout", logout_path %>
  <% end %>
</div>