<nav id="global-navbar">
  <ul id="navbar-list">
    <li id="musingButton">
      <% if @highlight_musings %>
        <%= link_to "Musings", root_path, :class => "selected" %>
      <% else %>
        <%= link_to "Musings", root_path %>
      <% end %>
    </li>
    <li id="chatButton">
      <% if @highlight_chat %>
        <%= link_to "Chat", '/chat', :class => "selected" %>
      <% else %>
        <%= link_to "Chat", '/chat' %>
      <% end %>
    </li>
    <li id="profileButton">
      <% if @highlight_profile %>
        <%= link_to "Profile", current_user, :class => "selected" %>
      <% else %>
        <%= link_to "Profile", current_user %>
      <% end %>
    </li>
  </ul>
</nav>