<%= link_to "Add a new musing", new_musing_path, :class => "newMusingButton" %>
<ul id="musings">
  <% if !@musings.blank? %>
    <% @musings.each do |musing| %>
      <li class="musing">
        <div class="title">
          <%= link_to musing.title, musing %>
        </div>
        <div class="byline">
          <span class="musingDate">
            <%= l musing.created_at, :format => "%d/%m/%y at %I:%M %p" %>
          </span>
          <span class="musingAuthor">
             by <%= u = User.find(musing.user_id); link_to u.username, u  %>
          </span>
        </div>
        <div class="musingContent">
          <%= musing.content %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>