<script src="//cdn.optimizely.com/js/141960336.js"></script>
<script type="text/javascript">
  document.body.classList.add("landingPage");
</script>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><div class="inputPicto emailPicto"></div><%= f.email_field :email, :placeholder => "Email Address", :class => "landingFormField" %></div>

  <div><div class="inputPicto passwordPicto"></div><%= f.password_field :password, :placeholder => "Password", :class => "landingFormField" %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="rememberWrapper"><div class="inputPicto rememberPicto"></div><%= f.check_box :remember_me, :class => "rememberCheckbox" %> <%= f.label :remember_me, :class => "rememberMeLabel" %></div>
  <% end -%>

  <div class="greenFormButton"><%= link_to_function "Sign in", "document.getElementById('new_user').submit();" %></div>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  var inputs = document.getElementsByClassName("landingFormField");
  for (var i = 0; i < inputs.length; i++) {
    var input = inputs[i];
    input.addEventListener("focusout", formEmptyCheck);
  }
  document.getElementsByClassName("rememberMeLabel")[0].addEventListener("click", toggleRemember);


</script>