<!-- Google location api for get location on musing -->
<!-- Not entirely sure whether its better to have in application.js -->

<%= form_for(@musing) do |f| %>
  <% if @musing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@musing.errors.count, "error") %> prohibited this musing from being saved:</h2>

      <ul>
      <% @musing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :placeholder => "Type you musing here..." %>
  </div>

  <div class="field">
    <%= f.hidden_field :latitude %>
  </div>
  <div class="field">
    <%= f.hidden_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="locationButton">
    <%= link_to_function "Add location", "callbackSwitch = SET_LOCATION_DEF; initLocation();", :class => "addLocationLink" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>