<h2>This is the show page for a musing</h2>

<h3>
  <%= @musing.title %>
</h3>
<h3>
  Votes: <%= @musing.votecount %>
  <% if current_user && current_user.votes.where(:musing_id => @musing.id, :up => true).present? %>
    *
  <% else %>
    <%= link_to "+", votes_path(:vote => {:musing_id => @musing.id, :up => true}), :method => :post %>
  <% end %>

  <% if current_user && current_user.votes.where(:musing_id => @musing.id, :up => false).present? %>
    *
  <% else %>
    <%= link_to "-", votes_path(:vote => {:musing_id => @musing.id, :up => false}), :method => :post %>
  <% end %>
</h3>
<h4>
  <%= User.find(@musing.user_id).email %>
</h4>
<p>
  <%= @musing.content %>
</p>

<h2>Comments:</h2>
<div>
  <% @musing.comments.each do |comment| %>
    <p>
      <span>
        <%= User.find(comment.user_id).email %>:<br />
       </span>
    <%= comment.content %>
  </p>

  <% end %>
</div>



<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%#= f.label :content %><br />
    <%= f.text_area :content, :placeholder => "Add a comment" %>
    <%= f.hidden_field :musing_id, :value => @musing.id %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>