<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <nav class="bar-tab fieldSubmit">
      <%= f.text_field :content, :class => "navInputField", :placeholder => "Add a comment" %>
      <%= f.hidden_field :musing_id, :value => @musing.id %>

    <div class="actions comment_actions">
      <%= link_to_function "Submit", "document.getElementById('new_comment').submit();", :class => "navSubmitButton post_comment" %>
    </div>
  </nav>
<% end %>
