<%#= link_to "Add a new musing", new_musing_path, :class => "newMusingButton" %>
<ul id="musings">
  <% if !@musings.blank? %>
    <% @musings.each do |musing| %>
      <li class="musing">
        <div class="voteCount">
          <%= musing.votecount %>
        </div>
        <div class="title">
          <%= link_to musing.title, musing %>
        </div>
        <div class="byline">
          <span class="musingAuthor">
             by <%= u = User.find(musing.user_id); link_to u.username, u  %>
          </span>
          <span class="musingDate">
            on <%= l musing.created_at, :format => "%d/%m/%y at %I:%M %p" %>
          </span>
          <% if musing.city? %>
            <span class="musingCity">
              near <%= musing.city %>
            </span>
          <% end %>
        </div>
        <div class="musingContent">
          <%= truncate(musing.content, :length => 180, :separator => ' ') %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>