<!-- Not in js assets because requires erb to generat link -->
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
 <!-- This is not really save, change so it sends by post -->
 <script type="text/javascript">
  function passLocationToController(object) {
        var url = "<%= url_for(:action => 'local', :controller => 'musings_list') %>";
        url += "?locationName=" + object.name;
        url += "&locationLatitude=" + object.latitude;
        url += "&locationLongitude=" + object.longitude;
        window.location = url;
  }
</script>
<div class="secondaryNav">
  <% if @back_button %>
    <% if @back_link %>
      <%= link_to "back", @back_link, :class => "back_button" %>
    <% else %>
      <a href="#" onclick="goBack(event);" class="back_button">back</a>
    <% end %>
  <% end %>

  <% if @pillbox_sorter %>
    <div class="pillbox" align="center">
      <%= link_to "Popular", url_for(:action => 'popular', :controller => 'musings_list'), :class => ((@sort == "popular") ? "pillbox left selected" : "pillbox left") %>
      <%= link_to "Recent", url_for(:action => 'recent', :controller => 'musings_list'), :class => ((@sort == "recent") ? "pillbox middle selected" : "pillbox middle") %>
      <%= link_to_function "Local", "callbackSwitch = PASS_LOCATION_TO_CONTROLLER; initLocation();", :class => ((@sort == "local") ? "pillbox right selected" : "pillbox right") %>
      </div>
  <% end %>

</div>

<!--
(if @sort = "popular" "pillbox left selected" else "pillbox left" end)
 -->

