<!-- Not in js assets because requires erb to generat link -->
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
 <!-- This is not really save, change so it sends by post -->

<header class="bar-title">
  <% if @back_button %>
    <% if @back_link %>
      <%= link_to "<", @back_link, :class => "button backButton" %>
    <% else %>
      <a href="#" onclick="goBack(event);" class="button backButton"><</a>
    <% end %>
  <% end %>
  <!-- <h1 class="title">Title</h1> -->
  <% if @pillbox_sorter  %>
    <h1 class="title">Musings</h1>
    <%= link_to "+", new_musing_path, :class => "button newMusingLink" %>
  <% end %>
  <% if @chat_title %>
    <h1 class="title">Shit Chat</h1>
    <% if @chat_view %>
      <%= link_to "New", '/chat/chat', :class => "new_person_button" %>
    <% end %>
  <% end %>
  <% if @user_title %>
    <h1 class="title"><%= @user.username %></h1>
  <% end %>
  <% if @new_musing_title %>
    <h1 class="title">Create New Musing</h1>
  <% end %>
  <% if @show_musing_title %>
    <h1 class="title"><%= @title %></h1>
  <% end %>
  <% if @edit_profile %>
    <h1 class="title">Edit your profile</h1>
  <% end %>
</header>