<!-- Not in js assets because requires erb to generat link -->
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
 <!-- This is not really save, change so it sends by post -->

<header class="bar-title">
  <% if @back_button %>
    <% if @back_link %>
      <%= link_to "back", @back_link, :class => "button-prev" %>
    <% else %>
      <a href="#" onclick="goBack(event);" class="button-prev">back</a>
    <% end %>
  <% end %>
  <!-- <h1 class="title">Title</h1> -->
  <% if @pillbox_sorter  %>
    <script type="text/javascript">
      function passLocationToController(object) {
            var url = "<%= url_for(:action => 'local', :controller => 'musings_list') %>";
            url += "?locationName=" + object.name;
            url += "&locationLatitude=" + object.latitude;
            url += "&locationLongitude=" + object.longitude;
            window.location = url;
      }
    </script>
    <ul class="segmented-controller">
      <li class="<%= ((@sort == "popular") ? "active" : nil) %>">
        <%= link_to "Popular", url_for(:action => 'popular', :controller => 'musings_list') %>
      </li>
      <li class="<%= ((@sort == "recent") ? "active" : nil) %>">
        <%= link_to "Recent", url_for(:action => 'recent', :controller => 'musings_list') %>
      </li>
      <li class="<%= ((@sort == "local") ? "active" : nil) %>">
        <%= link_to_function "Local", "callbackSwitch = PASS_LOCATION_TO_CONTROLLER; initLocation();" %>
      </li>
    </ul>
    <%= link_to "New", new_musing_path, :class => "button" %>
  <% end %>
</header>







