<!DOCTYPE html>
<html>
<head>
  <title>ShootTheShit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- FIXME: Move these things into a real place outside of this file -->
  <link rel="apple-touch-icon" href="icon.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; user-scalable=0;">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="startup.png">
  <meta name="apple-mobile-web-app-status-bar-style"
    content="black-translucent" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript">
    // The script prevents links from opening in mobile safari. https://gist.github.com/1042026
    (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")
  </script>
</head>
<body>

  <% if @secondary_navbar %>
    <%= render '/pages/secondary_navbar' %>
  <% end %>

  <div class="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <%= render '/pages/global_navbar' %>
</body>
</html>
