<!DOCTYPE html>
<html>
<head>
  <title>ShootTheShit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- FIXME: Move these things into a real place outside of this file -->
<!--   <link rel="apple-touch-icon" href="icon.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="startup.png"> -->

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script type="text/javascript">
$('a').live('click', function (event)
{      
    var href = $(this).attr("href");

    if (href.indexOf(location.hostname) > -1)
    {
        event.preventDefault();
        window.location = href;
    }
});
    </script>
</head>
<body>

  <% if @secondary_navbar %>
    <%= render '/layouts/secondary_navbar' %>
  <% end %>
  <% if @global_navbar %>
    <%= render '/layouts/global_navbar' %>
  <% end %>
  <div class="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>



</body>
</html>
